@font-face {
	font-family: 'folio book';
	src: url('FolioLig.eot');
	src: url('FolioLig.eot?#iefix') format('embedded-opentype'),
		url('FolioLig.woff') format('woff'),
		url('folio_light.ttf') format('truetype'),
		url('FolioLig.svg') format('svg');
}